/Emprestimo.class
/Relatorio.class
/RenovacaoReserva.class
/Renovacao.class
/Devolucao.class
/Reserva.class
/ReservaSala.class
/ReservaSala$SalaGrupo.class
/ReservaSala$SalaIndividual.class
/ReservaSala$SalaMultimidia.class
/ReservaSala$SalaSilenciosa.class
/ReservaSala$StatusReserva.class
